<article class="post">
  <div class="container container-min">
    <div class="post-header">
      {{ content.field_image }}
      <div class="post-header-text">
        <h1 class="h1-title">{{title}}</h1>
        {{ node.getCreatedTime|date('d/m/yy') }}
      </div>
    </div>
    <div class="post-content">
      {{ content.body }}
    </div>
  </div>
  <div class="container container-min post-related">
    <h2 class="h2-title">Related articles</h2>
    {{ views_block__related_articles_block_1 }}
  </div>
</article>
